.full-page-box header {
  grid-column: 1/101;
  grid-row: 1/10;
  display: flex;
  border-bottom: 4px solid rgb(22, 22, 22);
  justify-content: space-between;
}
.full-page-box header p {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.1s ease;
  &:hover {
    color: #01eeff;
  }
}
.header-components-left {
  height: 100%;
  width: 40%;
  font-weight: 800;
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  text-shadow: 4px 3px 14px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-left: 6%;
}
.code-img {
  height: 50px;
  width: auto;
  position: absolute;
  top: 50%;
  left: -7%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}
.header-components-right {
  height: 100%;
  width: 20%;
  font-weight: 800;
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  text-shadow: 4px 3px 14px rgba(0, 0, 0, 0.5);
}
.icon-box {
  width: 30%;
  height: 100%;
  padding-top: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
}
.icon-box img {
  height: 30px;
  width: auto;
}
.introdution {
  grid-column: 1 / 61;
  grid-row: 10/101;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-shadow: 4px 3px 14px rgba(0, 0, 0, 1);
  font-size: 1.6vw;
  padding-bottom: 20vh;
  z-index: 2;
  position: relative;
}
.introdution h1 {
  font-weight: 800;
  font-size: 5vw;
  margin-top: -14px;
  margin-bottom: -10px;
}
.introdution h2 {
  font-weight: 800;
  font-size: 3vw;
  margin-top: -5px;
  color: #01eeff;
  margin-bottom: 10px;
}
.introdution-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  padding-top: 15%;
}
@media screen and (min-width: 1920px) {
  .introdution {
    font-size: 31px;
  }
  .introdution h1 {
    font-size: 95px;
  }
  .introdution h2 {
    font-size: 58px;
  }
}
@media screen and (max-width: 1400px) {
  .introdution {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1200px) {
  .my-photo img {
    height: 90%;
  }
}
@media screen and (max-width: 980px) {
  .introdution {
    font-size: 16px;
  }
  .introdution h1 {
    font-size: 50px;
  }
  .introdution h2 {
    font-size: 30px;
  }
}
.tech-stack-box {
  display: flex;
  justify-content: center;
  align-items: center;

  align-items: flex-start;
  flex-flow: column;
}
.tech-stack {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  gap: 5%;
}
.tech-img {
  width: 35px;
  height: auto;
}
.my-photo {
  grid-column: 1/101;
  grid-row: 10/101;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}
.my-photo img {
  transition: height 0.2s ease;
  height: 99%;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 435px) {
  .full-page-box header {
    grid-row: 1 / 17;
    flex-flow: column;
    border-bottom: 3px solid rgb(22, 22, 22);
  }
  .header-components-left {
    width: 100%;
    font-size: 4vw;
    border-bottom: 3px solid rgb(22, 22, 22);
    margin-left: 0px;
    justify-content: center;
    font-size: 13px;
  }
  .header-components-right {
    width: 100%;
    font-size: 13px;
  }
  .icon-box {
    justify-content: center;
    gap: 7%;
    width: 50%;
  }
  .icon-box img {
    height: 7vw;
  }
  .code-img {
    display: none;
  }
  .introdution {
    grid-row: 20 / 51;
    grid-column: 1 / 101;
    font-size: 2.5vh;
  }
  .introdution h1 {
    font-size: 5vh;
    margin-top: -2%;
    margin-bottom: -1%;
  }
  .introdution h2 {
    font-size: 3vh;
  }
  .introdution-content {
    padding-top: 0%;
  }
  .my-photo {
    grid-row: 31 / 101;
    justify-content: center;
  }
  .tech-stack-box {
    align-items: center;
    flex-flow: row;
  }
  .tech-stack {
    min-width: 220px;
    justify-content: space-around;
    gap: 0px;
    margin-top: 0px;
  }
  .tech-img {
    width: 25px;
  }
}
