* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(26, 29, 36);
  background: linear-gradient(
    180deg,
    rgba(26, 29, 36, 1) 0%,
    rgba(26, 29, 36, 1) 33%,
    rgba(9, 116, 126, 1) 77%
  );
  min-height: 100vh;
  background-attachment: fixed;
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.full-page-box {
  max-width: 1770px;
  min-height: 575px;
  color: white;
  display: grid;
  min-width: 980px;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  background: rgb(32, 36, 45);
  background: linear-gradient(
    180deg,
    rgba(32, 36, 45, 1) 0%,
    rgba(50, 56, 70, 1) 35%,
    rgba(50, 56, 70, 1) 65%,
    rgba(32, 36, 45, 1) 100%
  );
  height: 100vh;
  width: 97vw;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 26px 39px 79px -20px rgba(6, 6, 6, 1);
  -moz-box-shadow: 26px 39px 79px -20px rgba(6, 6, 6, 1);
  box-shadow: 26px 39px 79px -20px rgba(6, 6, 6, 1);
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  position: relative;
  border: 1px solid rgb(78, 75, 75);
}
.full-page-box:nth-child(1) {
  margin-top: 0px;
}
.arrow-down {
  position: absolute;
  bottom: 3%;
  left: 1.6%;
  height: 50px;
  width: auto;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: bottom 0.2s ease;
  z-index: 4;
  &:hover {
    bottom: 2%;
  }
}
.arrow-home {
  position: absolute;
  top: 3%;
  left: 1.6%;
  height: 50px;
  width: auto;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: top 0.2s ease;
  z-index: 4;
  &:hover {
    top: 2%;
  }
}
@media screen and (max-width: 435px) {
  .arrow-down {
    display: none;
  }
  .arrow-home {
    display: none;
  }
  .full-page-box {
    min-width: 0;
    min-height: 0;
  }
}
